gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks
Nasrullah,Mamoona atta,Arslan,Nouman,Sulaiman,Ayesha,Sana,Kaneez fatima nasr.
Zafrulla,Tahira,Arooj bhabi,Haseeb Ahmad,Adil khan,Mahnoor,
Nadeem,Rukhsana phopho,Misbah,Tooba,Raffy,Arsal khan.
Ikram,Chachi Asma,Abdul-Hadi.
Cab,Cabana(cabin on beech),Cable(A secret in-trigue),Cabbage,Most cabins(A small room in a ship) on steam ships are very small.
Cabinet(A closet)Father keeps papers in a filing cabinet.Ptotective covering,Conductors,CABLE,Rubber insulation,Cable(A rope or Chain)or(A submarine wire).Cackle(verb intransitive)To chatter,Cadence(Rise or fall of sound)Cadet(A student in a naval or a military college).Cadge(v.i)To beg.Cader(Regular establishment).Cafe(A coffee house,A restaurant).Cage(An enclouser for birds or animals)Caitipf(A villian).Cajole,Cajolery(Flattery).
Cake(MOther bought 3 cakes of soap.Calabash(A gourd)(Adjective)Calamitous:Calamity(unknown)-Grave disaster,Calcium,Calculate(unknown:To count),Calculation,Father has a desk calender(A machine to smooth or glaze clothes etc),Calf(Love calf,A young of a cow),Caliber-bre.1: Mental capacity.Calix(The covering  